@import url('https://fonts.googleapis.com/css2?family=Zen+Loop:wght@400&display=swap');

.zen-loop-regular {
    font-family: "Zen Loop", cursive;
    font-weight: 400;
    font-style: normal;
}

.zen-loop-regular-italic {
    font-family: "Zen Loop", cursive;
    font-weight: 400;
    font-style: italic;
}
